* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 75px 75px 75px 75px;
    gap: 1em;    
    max-width: 75%;
    margin: 0 auto;
    margin-top: 1em;
    

}

.container > * {
    border: 1px solid black;

}

.one {
    grid-column: 1 / 9;
    grid-row: 1 / 3;
    background-color: red;
}

.two {
    grid-column: 9 / 13;
    grid-row: 1 / 3;
    background-color: yellow;
}

.three {
    grid-column: 1 / 7;
    grid-row: 3 / 5;
    background-color: green;
}

.four {
    grid-column: 7 / 13;
    grid-row: 3 / 4;
    background-color: blue;
}

.five {
    grid-column: 7 / 13;
    grid-row: 4 / 5;
    background-color: blue;
}
